@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*   Float  */
[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid red;
}



/* Resetting Defaults */
body, h1, h2, h3, p, ul, li, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 150px;
    justify-self: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #1b263b;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #00b8d4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}



#cards {
  width: 70%;
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  min-width: 200px;
  height: 350px;
  flex: 1 1 250px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  position: relative;
}

#cards:hover > .card {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--color) / 1),
    rgba(51, 51, 51, 0.8)) 40%
  );
}

.card-content {
  position: absolute;
  inset: 1px;
  background-color: #333333;
  border-radius: inherit;
}

.card:nth-child(1) {
  --color: 0 100% 50%;
}
.card:nth-child(2) {
  --color: 205 100% 50%;
}
.card:nth-child(3) {
  --color: 90 100% 50%;
}
.card:nth-child(4) {
  --color: 0 0% 100%;
}
.card:nth-child(5) {
  --color: 0 0% 0%;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    500px circle at var(--mouse-x) var(--mouse-y),
    hsl(var(--color) / 0.35),
    transparent 40%
  );
  border-radius: inherit;
  opacity: 0;
  z-index: 2;
}

#cards:hover > .card::before {
  opacity: 1;
}

a {
  all: unset;
  cursor: pointer;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.card-content > i {
  font-size: 5rem;
  color: rgba(255, 255, 255, 1);
}

.card-content > p {
  color: rgba(255, 255, 255, 1);
}

.card-content > h2 {
  font-size: 1.2rem;
}

.card-content > a {
  width: 90%;
  padding-block: 0.8rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
}
.card-content > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}



#projects {
transition-timing-function: ease-in-out;
}

#title {
    color: white;
    background-color: #333333;
    font-size: 3vw;
    padding-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.features {
    min-height: 100vh;
    background-color: #333333;
    display: grid;
    place-items: center;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.features .container {
    display: flex;
    justify-content: space-between;
}

.features2 .container {
    display: flex;
    justify-content: space-evenly;
}

.feature {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    width: 250px;
    margin-bottom: 20px;
}

.hero2 {
    background-image: url("images/background.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

